<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dany.stockhome">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //-----------------------------------------------------------
        //MAIN ACTIVITY
        //-----------------------------------------------------------
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //-----------------------------------------------------------
        //INSERE PRODUTOS
        //-----------------------------------------------------------
        <activity android:name=".Activities.AddProdutosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ConsultarProdutosActivity" />
        </activity>
        //-----------------------------------------------------------
        //CONSULTA PRODUTOS
        //-----------------------------------------------------------
        <activity
            android:name=".Activities.ConsultarProdutosActivity"
            android:launchMode="singleTop">
            //searchView
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        //-----------------------------------------------------------
        //INSERE RECEITAS
        //-----------------------------------------------------------
        <activity android:name=".Activities.AddReceitasActivity">
        </activity>
        //-----------------------------------------------------------
        //CONSULTA RECEITAS
        //-----------------------------------------------------------
        <activity android:name=".Activities.ConsultaReceitasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
            //searchView
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".consultar_produtos" />
        </activity>
        //-----------------------------------------------------------
        //EDITAR PRODUTOS
        //-----------------------------------------------------------
        <activity android:name=".Activities.EditarProdutosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ConsultarProdutosActivity" />
        </activity>
        //-----------------------------------------------------------
        //INSERIR INGREDIENTES
        //-----------------------------------------------------------
        <activity android:name=".Activities.AddIngActivity" />
        //-----------------------------------------------------------
        //EDITAR RECEITAS
        //-----------------------------------------------------------
        <activity android:name=".Activities.EditarReceitasActivity"
            android:configChanges="orientation|screenSize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ConsultaReceitasActivity" />
        </activity>
        //-----------------------------------------------------------
        //EDITAR INGREDIENTES
        //-----------------------------------------------------------
        <activity android:name=".Activities.EditaIngredientesActivity" />
        //-----------------------------------------------------------
        //EDITAR INGREDIENTES ADICIONA
        //-----------------------------------------------------------
        <activity android:name=".Activities.EditaIngredientesAdicionaActivity" />
        //-----------------------------------------------------------
        //FAZER RECEITAS
        //-----------------------------------------------------------
        <activity android:name=".Activities.FazerReceitaActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ConsultaReceitasActivity" />
        </activity>
        //-----------------------------------------------------------
        //INGREDIENTES INDISPONIVEIS
        //-----------------------------------------------------------
        <activity android:name=".Activities.VerProdutosActivity">
            //searchView
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".consultar_produtos" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        //-----------------------------------------------------------
        //COMPRAR PRODUTOS
        //-----------------------------------------------------------
        <activity android:name=".Activities.ComprarProdutosActivity"></activity>
    </application>

</manifest>